---
---

// @import "minima/skins/{{ site.minima.skin | default: 'classic' }}";
// @import "minima/initialize";
@import "{{ site.theme }}";
.site-header {
    background: black;
    border: 0;
    border-bottom: 1px solid gray;
    color: white;
    
    .site-nav {
        background: #111;
        
        a {
            color: #9F9;
        }
    }
}
main.page-content {
    background: #222;
    color: white;
}
.site-footer {
    background: black;
    border-top: 1px solid gray;
    color: white;
}
a {
    color: #7d7;
}
